{% extends 'app/base.html' %}
{% load static %}

{% block content%}
<div class="container">
    <h1 class="jumbotron">What do you have Todo?</h1>
    <div class="content">
        <ol>
        
        {%if items %}
          {%for item in items%}
          <li>{{item}}</li>
          <div class="input-group">
              <form class="form-inline" action="/deleteTodo/{{item.id}}/" method="POST">{%csrf_token%}
                  <button class="btn btn-danger btn-sm" type="submit" value="delete">Delete</button>
              </form>
          </div>
          {%endfor%}
        {%else%}
        <h3>You have nothing Todo!</h3>

        {%endif%}
        </ol>
        <div class="inputform">
            <form class="form-inline" action="/addTodo/" method="POST">{%csrf_token%}
                <input placeholder="Add what you have Todo" type="text" class="form-control-sm" name="content"/>
                <button class="btn btn-primary btn-sm" type="submit" value="add">Add</button>
            </form>
        </div>
    </div>

</div>

{%endblock content%}